name: Build & Publish

on:
  push:
    branches: [ "main" ]

jobs:
  build-backend:
    name: Build backend
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0'
        
      - name: Restore dependencies
        run: dotnet restore VkPhotosExtractor.sln
      
      - name: Build
        run: dotnet build VkPhotosExtractor.sln --configuration Release --no-restore

  publish:
    name: Publish docker image
    needs: build-backend
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Create image tag
        id: vars
        run: echo "SHORT_SHA=${GITHUB_SHA::8}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/tagiech/vk-photos-extractor:${{ env.SHORT_SHA }}
            
      - name: Add summary
        run: echo "vk-photos-extractor:${{ env.SHORT_SHA }}" >> $GITHUB_STEP_SUMMARY
